<section class="admin-wrapper">
    <header class="admin-header">
        <h1>This is admin header section</h1>
    </header>
    <div class="row">
        <button ng-click="showModal()">Show Modal</button>
        <section class="cat-list-panel col-md-3">
            <ul>
                <li>cat1</li>
                <li>cat2</li>
                <li>cat3</li>
                <li>cat4</li>
            </ul>
        </section>
        <section class="product-list-panel col-md-9">
            <ul>
                <li>product 1</li>
                <li>product 2</li>
                <li>product 3</li>
                <li>product 4</li>
            </ul>
        </section>
    </div>
    <footer class="admin-footer">
        <h6>footer area</h6>
    </footer>
</section>