<section class="admin-wrapper">
    <header class="admin-header">
        <h1>This is admin header section</h1>
    </header>
    <div class="row">
        <section class="cat-list-panel col-md-3">
            <cat-list-dir data="catListData"></cat-list-dir>
        </section>
        <section class="product-list-panel col-md-9">
            <prod-list-dir data="prodListData"></prod-list-dir>
        </section>
    </div>
    <footer class="admin-footer">
        <h6>footer area</h6>
    </footer>
</section>