<div class="table-responsive">
    <div class="row">
        <div class="col-sm-1 col-xs-1">Product ID</div>
        <div class="col-sm-2 col-xs-2">Product Name</div>
        <div class="col-sm-1 col-xs-1">Caregory ID</div>
        <div class="col-sm-1 col-xs-1">Price</div>
        <div class="col-sm-1 col-xs-1">Discount</div>
        <div class="col-sm-2 col-xs-2">Product Description</div>
        <div class="col-sm-2 col-xs-2">Caregory</div>
        <div class="col-sm-2 col-xs-2">Caregory Description</div>
    </div>
    <div class="row" ng-repeat="item in listData" track by $index>
        <div class="col-sm-12 col-xs-12" ng-click="selected = $index" ng-class="do-hide">
            <div class="col-sm-1 col-xs-1">
                <div>{{item['Product ID']}}</div>
            </div>
            <div class="col-sm-2 col-xs-2">
                <div>{{item['Product Name']}}</div>
            </div>
            <div class="col-sm-1 col-xs-1">
                <div>{{item['Category ID']}}</div>
            </div>
            <div class="col-sm-1 col-xs-1">
                <div>{{item['Price']}}</div>
            </div>
            <div class="col-sm-1 col-xs-1">
                <div>{{item['Discount']}}</div>
            </div>
            <div class="col-sm-2 col-xs-2">
                <div>{{item['Product Description']}}</div>
            </div>
            <div class="col-sm-2 col-xs-2">
                <div>{{item['Category']}}</div>
            </div>
            <div class="col-sm-2 col-xs-2">
                <div>{{item['Category Description']}}</div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <new-prd-dir mode="edit" edit-prd="item" ng-class="{visible : $index==selected}"></new-prd-dir>
        </div>
    </div>
</div>