<section id="products" class="col-lg-6">
    <div ng-if="mode=='new'">
        <h4>Create New Product</h4>

        <form class="form-horizontal" name="prdForm">
            <div class="form-group">
                <label class="control-label col-sm-2">Category:</label>
                <dropdown list-data="catList" selected-item="selectedItem"></dropdown>
                <input type="text" style="display: none;" name="cat_sel_item" ng-model="selectedItem.id" />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="cat_name">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Product Name" name="prd_name" ng-model="prdName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="prd_price">Price:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Enter Price" name="prd_price" ng-model="prdPrice">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="prd_discount">Discount:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Enter Discount" name="prd_discount" ng-model="prdDiscount">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="prd_desc">Description:</label>
                <div class="col-sm-10">
                    <!--                    <input type="password" class="form-control" id="pwd" placeholder="Enter password">-->
                    <textarea class="form-control" placeholder="Enter Description" name="prd_desc" ng-model="prdDesc"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="prd_imgs">Product Image: </label>
                <div class="col-sm-10">
                    <label class="btn btn-default btn-file">
                        Browse <input type="file" name="prd_imgs" style="display: none;" ng-model="prdImgs" multiple="multiple" onchange="angular.element(this).scope().onFileNameChanged(this)" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="mode=='edit'">
        <h4>Product in Edit Mode.</h4>
        {{editPrd}}
        <div class="form-group">
            <label class="control-label col-sm-2" for="prd_name">Product Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Product Name" name="prd_name" ng-model="editPrd['Product Name']">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="prd_price">Price:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Enter Price" name="prd_price" ng-model="editPrd['Price']">
                </div>
            </div>
           <div class="form-group">
                <label class="control-label col-sm-2" for="prd_discount">Discount:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Enter Discount" name="prd_discount" ng-model="editPrd['Discount']">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="prd_desc">Description:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" placeholder="Enter Description" name="prd_desc" ng-model="editPrd['Product Description']"></textarea>
                </div>
            </div>

<!--
            <div class="form-group">
                <label class="control-label col-sm-2" for="prd_imgs">Product Image: </label>
                <div class="col-sm-10">
                    <label class="btn btn-default btn-file">
                        Browse <input type="file" name="prd_imgs" style="display: none;" ng-model="prdImgs" multiple="multiple" onchange="angular.element(this).scope().onFileNameChanged(this)" />
                    </label>
                </div>
            </div>
-->
    </div>
</section>